 /*text colors */
 .text-primary{
     color:#857e61;
 }    
 .text-secondary{
     color:#4682b4;
 }
 .btn{
     cursor:pointer;
     display:inline-block;
     padding:5px 20px;
     margin:20px 0px;
     color:#fff;
     background-color: #4682b4;
     border:none;
     border-radius:5px;
 }
 .btn:hover{
     opacity:0.9;
     background-color: #857e61;
 }
 .btn-primary{
    background-color: #4682b4;
    color:#fff; 
 }
 .btn-secondary{
    background-color: #857e61;
    color:#fff; 
 }
 .btn-dark{
    background-color: #0d5c63;
    color:#fff; 
 }
 .btn-light{
    background-color: #dbfcff;
    color:#333; 
 }
 